@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1d1c1c;
  color: white;
  font-family: poopins;
  font-weight: bold;
}
 
.container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  align-items: start;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}
header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width:100%;
}

.botao_adiciona{
  background-color: rgb(45, 235, 45);
  border: none;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
}
.botao_adiciona:focus{
  outline: none;
}
.botao_adiciona:hover{
  background-color: rgb(45, 235, 45);
}

.caixas{
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 0;
  flex-wrap: wrap;
  width: 100%;
}
.box{
  flex: 1;
  background-color: black;
  padding: 8px;
  border-radius: 8px;
}
.box_icon{
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.box h3{
  margin-top: 0;
  font-size: 24px;
  background-color:black ;
}
.valor{
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0;
  background-color: black;
  color: rgb(45, 235, 45);
}
.valor.saida{
  color: #e74c3c;
}
@media(max-width:768px){
  .caixas{
    flex-direction: column;
  }
}
.text{
  background-color: black;
  font-size: 18px;
  color: rgb(75, 78, 75);
}

.analise {
  display: flex;
  gap: 1rem;
  width: 100%;
  /* height: 324px; */
  align-items: stretch;
}
.infor {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cat {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}
.infor h2,
.cat h2 {
  font-size: 1.5rem;
}
.box-analise {
  background-color: black;
  border-radius: 8px;
  width: 100%;
  height: 316px;
  flex: 1;
}

.lista-cat {
  flex: 1;
  background-color: black;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item-cat {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: black;
  transition: background-color 0.3s ease;
}

.item-cat:hover {
  background-color: #2c2c2c;
}

.icone {
  width: 24px;
  display: flex;
  justify-content: center;
}

.nome {
  flex: 2;
  background-color: black;
}

.quantidade {
  flex: 1;
  text-align: center;
  background-color: black;
}

.valor_cat {
  flex: 1;
  text-align: right;
  color: #e74c3c;
  background-color: black;
}

.transacoes {
  flex: 1;
  width: 100%;
}

.transacoes h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.tabela {
  flex: 1;
  max-height: 164px;
  overflow-y: auto;
  border-radius: 8px;
  background-color: black;
}
.tabela::-webkit-scrollbar {
  width: 8px;
}
.tabela::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 8px;
}
.tabela::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
  border: 2px solid #1e1e1e; 
}
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 6px;
  min-width: 600px;
}

.table th {
  text-align: left;
  padding: 12px;
  font-weight: 600;
  color: rgb(110, 109, 109);
  position: sticky;
  top: 0;
  z-index: 2;
}

.table td{
  padding: 16px;
  background-color: black;
}
.table tbody tr:hover{
  background-color: #333;
}
.dados{
  position: sticky;
  top: 0;
  z-index: 2;
}

.valor2 {
  color: #e74c3c;
  font-weight: bold;
}

/* nova transacao */

.container-transacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 72px;
  gap: 1rem;
}

.topo {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 1rem;
}

.form{
  width: 100%;
  border-radius: 8px;
  background-color: rgb(8, 8, 8);
}
.subi{
  background-color:  rgb(8, 8, 8) ;
  font-size: 24px;
  color: rgb(75, 78, 75);
  padding: 1rem;

}
.form h2{
  font-size: 2rem;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  background-color:rgb(8, 8, 8);
}

.formulario {
  padding: 2rem;
  border-radius: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(8, 8, 8);
}

.formulario input {
  width: 772px;
  padding: 0.8rem;
  border-radius: 6px;
  border: 1px solid rgb(47, 46, 46);
}

.botoes {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.botoes button {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
}
.cancelar{
  background-color:  #e74c3c;
}
.salvar{
  background-color:rgb(45, 235, 45);
}
.botoes button:hover {
  background-color: rgba(179, 199, 205, 0.831);
}